*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Sans JP', 'Poppins', sans-serif;
    background-color: #0c0011;
    color: #fbebfd;
    font-size: 16px;
    max-width: 1366px;
}

#max_width{
    max-width: 100%;
}

header{
    background-color: #000000;
    width: 100%;
    height: 90px;
    border-bottom: solid 3px #00f6ff;
    display: flex;
}

nav{
    width: 90%;
    margin-right: 2%;
}

nav ul{
    display: flex;
    margin-top: 2.5%;
}

nav ul li{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #ff00d2;
    font-size: 20px;
    border: solid 3px #ff00d2;
    text-decoration: none;
    border-radius: 18px;
    padding: 1%;
}

nav ul li a:hover{
    color: #e80c7a;
    border-color: #e80c7a;
}

nav ul li a:active{
    color: #00f6ff;
    border-color: #00f6ff;
}

#logo{
    display: flex;
    font-size: 0;
    background-image: url('../img/h1.png') ;
    width: 10%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3%;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo {
    display: block;
    width: 100%;
    height: auto;
}

.petals{
    position: fixed;
    z-index: -1;
    left: 1%;
    top: 5%;
    opacity: 30%;
}

.petals2{
    position: fixed;
    z-index: -2;
    left:80%;
    top: 20%;
    opacity: 30%;
}

.petals>img{
    width: 300px;
    height: 300px;
}

.petals2>img{
    width: 300px;
    height: 300px;
}

h2 {
    width: 80%;
    font-size: 48px;
    font-weight: bold;
    -webkit-text-stroke: 1px #ffff;
    -webkit-text-fill-color: transparent;
    margin-left: 5%;
    margin-top: 3%; 
    margin-bottom: 3%;   
    animation: neon 1.5s ease-in-out infinite alternate;
}

.bg_tokio{
    background-image: url('../img/tokio_tower.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: top;
}

.bg_tokyo{
    background-image: url('../img/sanctuary.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 20%;
    background-position: bottom right;
}

.division{
    border-top: #fbebfd solid 10px;
    margin-right: 6%;
    padding-top: 5%;
}

div{
    display: flex;
    flex-wrap: wrap;
}

#two_columns{
    display: flex;
    flex-wrap: wrap;
}

.p_message{
    width: 80%;
    text-align: center;
}

p {
    font-size: 18px;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.text_map{
    align-items: center;
    margin-top: 1%;
}

.maps{
    margin-top: 1%;
    margin-left: 6%;
    width: 40%;
    height: 300px;
}

.history{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.history h3{
    display: flex;
    flex-wrap: wrap;
    color: #e80c7a;
    font-size: 26px;
    font-weight: bold;
    align-items: center;
}

.history p {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

aside{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7.5%;
}

audio{
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
}

audio::-webkit-media-controls-panel {
    background-color: #fbebfd;
}

#menu2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

#menu2 li{
    list-style: none;
}

#menu2 li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to left, #e80c7a, #b6045d, #4e0329);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#menu2 li a:hover{
    background-image: linear-gradient(to left, #00f6ff, #116b6e, #012324);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    background-color: #000000;
    border-top: #00f6ff solid 3px;
    align-items: center;
}

footer span{
    color: #00f6ff;
    font-weight: bold;
}

footer div {
    width: 60%;
    align-items: center;
}


.sprite {
    display: inline-block;
}

.sprite ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0%;
}

.sprite ul li {
    display: inline-block;
}

.sprite ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    filter: hue-rotate(275deg);
}

.sprite-facebook a {
    background-position: -20px -20px;
}

.sprite-instagram a {
    background-position: -90px -20px;
}

.sprite-twitter a {
    background-position: -162px -20px;
}

.sprite ul li a span {
    display: none;
}

.up{
    background-image: url('../img/subir-flecha-arriba.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    width: 35px;
    height: 35px;
    background-position: center center;
    filter: hue-rotate(-50deg);
}

.bg_fuji{
    background-image: url('../img/Monte-Fuji.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 75%;
    
}

.introduction{
    font-size: 25px;
    width:  90%;
    display: flex;
    flex-direction: column;
}


.activities{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.activities p{
    justify-content: center;
    align-items: center;
}

.activities img{
    height: 200px;
    width: 200px;
    margin: 2%;
    text-align: center;
    border: solid 4px #e80c7a;
}


h3{
    width: 10%;
    color: #ae00ff;
    font-size: 20px;
    font-weight: bolder;
}

.food_general{
    width: 100%;
}

.food{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 4px #ae00ff;
    padding: 0%;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color: #12001a;
}

.food img{
    width: 250px;
    height: 250px;
    padding: 5%;
}

.food figcaption{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.food figcaption h4,
.food figcaption p{
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 0%;
}

.some_foods{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border-top: #fbebfd solid 10px;
    padding: 5%;
    width: 80%;
    margin-left: 5%;
}


#div_form{
    width: 100%;
    display: flex;
    justify-content: center;
}

#div_form form{
    background-color: #fbebfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 8%;
    padding: 2%;
    border-radius: 3%;
}

#div_form label{
    color: #e80c7a;
    padding-top: 2%;
    font-weight: bold;
}

#div_form h3{
    width: 100%;
    font-size: 30px;
    color: #12001a;
    animation: titulogradient 2s infinite;
}

#div_form h4{
    color: #000000;
    font-size: 12px;
    padding: 2%;
    font-weight: lighter;
}

#div_form button[type=submit]{
    width: 20%;
    border-color: #ff00d2;
    border-radius: 30px;
    color: #ff00d2;
    font-family: 'Poppins';
    background-color: #000000;
}

#div_form button[type=submit]:hover{
    color: #e80c7a;
    border-color: #e80c7a;
}

#div_form button[type=submit]:active{
    color: #00f6ff;
    border-color: #00f6ff;
}

#div_form input[type="text"],
#div_form input[type="email"],
#div_form input[type="subject"],
#div_form textarea{
    background-color: #000000;
    color: #ff00d2;
    font-family: 'Poppins';
    border-radius: 5px;
    border: none;
}
    
#thankyou{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 16%;
}

#thankyou figure{
    background-image: url('../img/thanks.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    justify-content: center;
}

#thankyou>figure>figcaption{
    text-align: center;
    margin-left: 10%;
}


#thankyou figure img{
    opacity: 0;
}

#thankyou figure:hover{
    background-image: none;
}

#thankyou figure img:hover{
    opacity: 100%;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    body {
        font-size: 14px;
    }

    #max_width{
        max-width: 100%;
    }
    
    #logo {
        width: 15%;
    }
    nav ul li{
        margin-top: 2%;
    }
    
    nav ul li a {
        font-size: 12px;
    }
    
    #section1 h2 {
        font-size: 36px;
    }
    
    .division {
        margin-top: 20px;
        padding-top: 20px;
    }
    
    .bg_tokio {
        background-size: 0%;
    }
    
    .bg_tokyo {
        background-size: 0%;
    }
    
    .text_map {
        margin-top: 20px;
        text-align: justify;
    }
    
    .maps {
        width: 40%;
        height: 250px;
        margin-top: 7%;
    }
    .history {
        display: flex;
        justify-content: center;
    }
    
    .history p {
        width: 100%;
    }
    
    aside{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .bg_fuji{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .bg_fuji p{
        width: 100%;
    }
    audio{
        margin-top: 5%;
        margin-bottom: 3%;
        width: 30%;
    }

    .introduction{
        font-size: 14px;
        width:  80%;
    }

    .activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .activities p {
        width: 50%;
        margin-right: 0;
        text-align: center;
    }
    
    .activities img {
        margin: 20px;
    }
    
    .food_general {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5%;

    }
    
    .food {
        width: 40%;
        margin: 2% 2%;
        justify-content: center;
    }
    
    .food img {
        width: 60%;
        height: auto;
        padding: 5%;
    }
    
    .food figcaption {
        height: auto;
        padding: 2% 0;
    }
    
    .food figcaption h4,
    .food figcaption p {
        font-size: 10px;
    }
    
    .banner img {
        width: 100%;
        height: auto;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }
    
    .petals,
    .petals2{
        display: none;
    }

    #div_form{
        margin-top: 18%;
        height: auto
    }

    .footer_responsive{
        margin-top: 20%;
    }

    #thankyou {
        max-width: 70%;
        display: block;
    }

    #thankyou>figure{
        background-size: contain;
        margin-top: 15%;
    }


    #thankyou>figure>img{
        width: 100%;
    }
    #responsive{
        display: block;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

    @media screen and (min-width: 315px) and (max-width: 767px) {
        body {
            font-size: 10px;
        }

        #max_width{
            max-width: 100%;
            display: block;
            margin: auto;
        }
        #logo {
            width: 15%;
            margin-top: 3%;
        }
        nav ul li{
            margin-top: 5%;
        }
        
        nav ul li a {
            font-size: 10px;
            padding: 8%;
        }
        
        #section1 h2 {
            font-size: 36px;
            text-align: center;
            margin-left: 10%;
        }

        #section1 p{
            width: 90%;
            text-align: justify;
        }
        
        .division {
            margin-top: 20px;
            padding-top: 20px;
            font-size: 36px;
            text-align: center;
            justify-content: center;
            border: none;
            width: 90%;
        }
        
        #two_columns p{
            width: 90%;
            text-align: justify;
        }
        
        .bg_tokio {
            background-size: 0%;
        }
        
        .bg_tokyo {
            background-size: 0%;
        }

        h2{
            text-align: center;
            margin-left: 13%;
        }
        
        .text_map {
            margin-top: 20px;
            width: 90%;
            text-align: justify;
        }
        
        .maps {
            width: 88%;
            height: 250px;
            margin-top: 7%;
            text-align: center;
        }
        .history {
            display: flex;
            justify-content: center;
            text-align: justify;
            margin-left: 0%;
        }
        
        .history p {
            width: 100%;
            justify-content: center;
            margin-left: 10%;
        }

        .history p strong{
            text-align: center;
            width: 100%;
        }
        
        aside{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .sprite ul{
            width: 80%;
        }
        
        .bg_fuji{
            background-size: 0;
        }
        .bg_fuji p{
            width: 100%;
        }
        audio{
            margin-top: 5%;
            margin-bottom: 3%;
            width: 80%;
            text-align: center;
        }

        #menu2{
            width: 80%;
            display: block;
            text-align: center;
            font-size: 16px;
            padding: 5%;
            text-decoration: underline #8a0447;
            margin-left: 10%;
        }

    
        .introduction{
            font-size: 14px;
            width:  80%;
            text-align: justify;
            margin-top: 10%;
            justify-content: center;
            margin-left: 13%;
        }
    
        .activities {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .activities h3{
            text-align: center;
            width: 100%;
        }

        .activities p {
            width: 50%;
            text-align: justify;
        }
        
        .activities img {
            width: 50%;
            justify-content: center;
            text-align: center;
            margin-left: 8%;
        }

        .some_foods{
            font-size: 16px;
            border: none;
            text-align: center;
        }
        
        .food_general {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 5%;
            padding: 0%;
    
        }
        
        .food {
            width: 80%;
            margin: 2% 2%;
            justify-content: center;
            padding: 0%;
        }
        
        .food img {
            width: 60%;
            height: auto;
            padding: 5%;
        }
        
        .food figcaption {
            height: auto;
            padding: 0% 0;
        }
        
        .food figcaption h4,
        .food figcaption p {
            font-size: 12px;
        }
        
        .banner img{
            width: 100%;
            height: auto;
        }
    
        .banner {
            display: block;
            align-items: center;
            text-align: center;
        }

        .petals2{
            display: none;
        }

        #div_form{
            width: 100%;
        }
        
        #div_form form{
            width: 60%;
        }

        #thankyou {
            max-width: 60%;
            display: block;
            margin-left: 22%;
        }
    
        #thankyou>figure{
            background-size: contain;
            margin-top: 15%;
        }
    
        #thankyou>figure>figcaption>h2{
            font-size: 20px;
            text-align: center;
            margin-left: 0%;
        }

        #thankyou>figure>figcaption>p{
            font-size: 16px;
            text-align: center;
            margin-left: 0%;
        }
    
        #thankyou>figure>img{
            width: 100%;
        }

        #responsive{
            display: block;
            margin-top: 10%;
            margin-bottom: 10%;
        }

    }